<div class="wrapper">
<p id="notice"><%= notice %></p>

<h1 style="text-align:center; color: white; padding: 50px;font-size: 50px; background-color:rgb(112, 208, 204); font-weight: 900;">Equipa</h1>

<div class="card-1">

  
    <% @teams.each do |team| %>
      
        <%= link_to 'Show', team %>
        <%= link_to 'Edit', edit_team_path(team) %>
        <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %><br>
        <%= image_tag team.picture.url, :style => "height: 100px; border-radius: 25%; border: solid 2px black; width: auto; margin: 30px;" %><br>
        <h3><%= team.name %><h3><br>
          <i class="fas fa-book-open" style="font-size: 50px; color: white;"></i><br>
        <p style="margin: 20px;"><%= team.description %><br></p>
        <i class="far fa-envelope" style="font-size: 50px; color: white;"></i><br>
        <h5><%= mail_to team.email %><h5><br>
        <hr>
    <% end %>
</div>

<br>

<%= link_to 'New Team', new_team_path %>
<div class="topnav" id="myTopnav">
    <div class="w3-container w3-center w3-animate-left">
    <%= link_to "Home", root_path%>
    <%= link_to "Seguros", seguros_path%>
    <%= link_to "Contactos", teams_path, :class => "active" %>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  </div>
  </div>
