<div class="home">









        <!-- Collect the nav links, forms, and other content for toggling -->
           <div style="position: fixed; width: 100%; background-color: #434f5b; padding-bottom: 20px; z-index:5 !important;">
          <ul  class="nav navbar-nav" style="display: block; ">
            <li id='nav'><%= image_tag ("logoaz.png"), :style => ("height: 80px; width: 140px; margin-right: 420px; margin-left: 40px")%></li>
            <li id='nav'><%= link_to "Sobre Nós", root_path%></li>
            <li id='nav'><%= link_to "Produtos", seguros_path%></li>
            <li id='nav'><a href="#">Equipa</a></li>
            <li id='nav'><%= link_to "Contactos", teams_path%></li>
          </ul>
        </div>












  <div style="text-align: center; ">
  <%= image_tag ("lisboa1.jpg"), :class => "ban", :style => "height: 700px; width: 100%; " %>

  </div>




</div>


<div style="position:relative">
<h2 style="margin-left: 50px; margin-top: 50px;">Sobre Nós</h2>
<hr style= "color: black; height: 30px !important; size= '50';">
<p class= "ab" style="margin-left: 50px; font-size: 17px; line-height: 1.6; font-weight: lighter; margin-right: 50px; ">A Bé Seguro foi fundada em 1980 em Lisboa, com o objectivo de aproximar as pessoas, empresas e associações das soluções ideais para cada caso. A nossa carteira abrange clientes em todo o território nacional, e de todas as áreas, o que faz com que tenhamos conhecimentos nas mais variadas actividades, desde seguros relacionados com a agricultura, comércio e industriais, patrimoniais ou pessoais.

Contamos com muitos anos de experiência neste sector, o que nos permite conhecer os produtos a fundo e reconhecer as melhores oportunidades criadas por cada alteração no mercado.

Trabalhamos de forma sinergética com as seguradoras, para garantir que os seguros colocados por nosso intermédio satisfaçam as necessidades dos nossos clientes, bem como para uma resolução rápida e eficaz em caso de sinistro.

Contamos com uma equipa que se orgulha da sua relação de proximidade com os segurados promovendo um acompanhamento permanente.</p>
</div>




<div class='footer' style="text-align: center; padding-top: 20px; padding-bottom: 30px;">
  <div>
  <h2 style="margin-bottom: 40px;">Contactos</h2>
  <i class="fas fa-map-marker-alt" style= "font-size: 30px;"></i>
  <h5 style="text-align: center;">Av. 24 de Julho 1 - 2º Esq. <br>1200-478 Lisboa<h5>
    <div>
    <i class="fas fa-envelope" style= "font-size: 30px;"></i>
  <h5>geral@be-seguro.com</h5>
  <i class="fas fa-phone" style= "font-size: 30px;"></i>
  <h5>+351 214 585 270</h5>

  <div>
  </div>


