<div class="home">
<div style="text-align: center; ">
  <%= image_tag ("contactos.jpg"), :class => "ban", :style => "width: 100%;
        object-fit: cover;
        max-height:800px;
        overflow: hidden;
        margin-top: 0; " %>

        <h1 style="margin-top: -30%; color: white; font-weight: bold; text-shadow: 1px 1px black; font-size: 80px;">Contactos</h1>

  </div>



<h5 class="cont" style="text-align: center; padding: 40px; color: white; font-size: 20px; margin-top:30%;"> Tire as suas dúvidas <br>Contacte-nos</h5>

<div class="container" style="margin-top: 100px; margin-bottom: 200px;">

  <div class="row">
<div class="col-sm">

    <%= form_for @contact do |f| %>

    <h4 style="margin-bottom:-10px;"><%= f.label :nome %></h4><br>
    <%= f.text_field :name, required: true, class: 'in'  %><br>

   <h4 style="margin-bottom:-10px;"><%= f.label :email %></h4><br>
    <%= f.email_field :email, required: true, class: 'in' %><br>

   <h4 style="margin-bottom:-10px;""><%= f.label :mensagem %></h4><br>
    <%= f.text_area :message, as: :text, required: true, class: 'inmes', rows: '5'  %><br>

    <div class="hidden">

    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, hint: "leave this field blank"  %><br>

    </div>


    <%= f.submit 'Enviar Mensagem', class: 'button enviar' %>

    <% end %>
  </div>

<!--<form action="https://formspree.io/francisco.gaivao@outlook.com"
      method="POST">


      <h5 style="margin-left: 5%">Nome</h5>
      <input class="in" type="text" name="name" required><br>
      <h5 style="margin-left: 5%">Email</h5>
    <input class="in" type="email" name="_replyto" required><br>
    <h5 style="margin-left: 5%" >Mensagem</h5>
      <input class="in" type="text"  name="observação" style="height: 100px; width: 250px; word-break: break-all;"><br>
      <input style="margin-left: 5%" class="check" type="checkbox" name="rgpd" value="aceito" required> &nbsp&nbsp&nbsp Aceito que a Bé Seguro trate <br>os meus dados pessoais para uso exclusivo comercial<br>
      <input type="hidden" name="_next" value="http://localhost:3000" />
    <input style= "margin: 40px; cursor: pointer;" type="submit" value="Enviar" class="enviar">
</form>


</div>-->






<div class="col-sm" style="float:right !important">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.8935105549267!2d-9.145969491532334!3d38.70631226526962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1935d5071a0485%3A0x19e09df7c5c89f66!2sB%C3%A9%20Seguro%20Sociedade%20Mediadora%20De%20Seguros%2C%20Lda.!5e0!3m2!1spt-PT!2spt!4v1568237871530!5m2!1spt-PT!2spt" width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
</div>
</div>


