<div style="height:100%">

  <div style="text-align:center;">

<%= form_with(model: seguro, local: true) do |form| %>
  <% if seguro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seguro.errors.count, "error") %> prohibited this seguro from being saved:</h2>

      <ul>
      <% seguro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="width: 50%; text-align:center; margin-left: 25%;">

  <div class="field">
    <%= form.label :nome %><br>
    <%= form.text_field :name, class: 'in' %>
  </div>

  <div class="field">
    <%= form.label :descrição %><br>
    <%= form.text_area :description, rows: '5', col:'20', class: 'in' %>
  </div>

  <div class="field">
    <%= form.label :imagem %><br>
    <%= form.file_field :image, style: "margin-left: 30%" %>

  </div>

  <div class="field">
    <%= form.label :tipo %><br>
    <%= form.select :tipo, ['Particular', 'Empresa', 'Destaque', 'Negocio']%>
  </div>

  <div class="actions" style="margin-top:50px;">
    <%= form.submit %>
  </div>
<% end %>

</div>

</div>

</div>

