   <div style="text-align:center;">
   <%= form_tag seguros_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], class: 'searchfield', style: 'color:black !important' %><br>
    <%= submit_tag "Encontrar o meu seguro", :name => nil, class: 'searchbutton' %>
  </p>
<% end %>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm" id="seguroslista" style="text-align:center;">
<h3>Empresas</h3>




<% @seguros.each do |seguro| %>

 <%= link_to seguro do %>


 <% if seguro.tipo == 'Empresa'   %>
    <span  class="seguroname" style="display:block; text-align:center;"><%= seguro[:name] %></span>
  <% end %>
<% end %>



<% end %>

</div>





<div class="col-sm" style="text-align:center;">
<h3>Particular</h3>





<% @seguros.each do |seguro| %>
    <%= link_to seguro do %>

      <% if seguro.tipo == 'Particular'   %>
     <span class="seguroname" style="display: block;"><%= seguro[:name] %></span>
      <% end %>
    <% end %>

  <% if admin_signed_in? %>

      <%= link_to 'Edit', edit_seguro_path(seguro) %>
      <%= link_to 'Destroy', seguro, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
</div>
</div>
</div>




<br>
<% if admin_signed_in? %>

  <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>

<% end %>

<% if admin_signed_in? %>
<%= link_to 'New Seguro', new_seguro_path %>
<% end %>










