<p id="notice"><%= notice %></p>
       <nav class="navbar navbar-default" role="navigation">



        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered" style="position: fixed; background-color: white; width: 100%;">
          <ul class="nav navbar-nav" style="display: block;">
            <li><%= image_tag ("logoaz.png"), :style => ("height: 60px; width: 120px; margin-right: 420px;")%></li>
            <li><a href="#">Sobre Nós</a></li>
            <li><%= link_to "Campanhas", seguros_path%></li>
            <li><a href="#">Equipa</a></li>
            <li><%= link_to "Contactos", teams_path%></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<% @seguros.each do |seguro| %>

<%= link_to seguro do %>




    <%= image_tag seguro.image.thumb.url, :style => "max-width: 40%; height: 500px; margin-left:100px;"%>

      <div class= 'title'>
          <%= seguro.name %><br>
          </div>
          <div style="float:right; margin-top: -300px; margin-right: 500px;">
          <p><%= seguro.description %></p>
            <h1><%= seguro.tipo %></h1>
            </div>
<% end %>

</div>


<div>
  <div>
<% if admin_signed_in? %>

<%= link_to 'Edit', edit_seguro_path(seguro) %>
<%= link_to 'Destroy', seguro, method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
</div>
<% end %>
</div>





<br>
<% if admin_signed_in? %>

  <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>

<% end %>





<% if admin_signed_in? %>
<%= link_to 'New Seguro', new_seguro_path %>
<% end %>








