<p id="notice"><%= notice %></p>



<% @seguros.each do |seguro| %>


<div class="example-2 card">

  <div class="wrapper">
    <%= image_tag seguro.image.thumb.url%>
    <div class="header" style="font-size: 50px;">
      <%= seguro.name %>


          </span>
          <div class="white" style="float: right; position: relative; width: 30%;">
            <div class="data">
        <div class="content">
          <span class="author"><%= seguro.description %>
            <h1 class="title"><%= seguro.tipo %></h1>
          </div>


        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Ver Mais', seguro %>
<%= link_to 'Edit', edit_seguro_path(seguro) %>
<%= link_to 'Destroy', seguro, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>


<% end %>
</div>



<br>


<%= link_to 'New Seguro', new_seguro_path %>
<div class="topnav" id="myTopnav">
  <div class="w3-container w3-center w3-animate-left">
    <%= link_to "Home", root_path%>
    <%= link_to "Seguros", seguros_path, :class => "active"%>
    <%= link_to "Contactos", teams_path%>
    <a href="#about">About</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>








