<div class="home">

   <div style="text-align:center;">
   <%= form_tag seguros_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], class: 'searchfield', style: 'color:black !important' %><br>
    <%= submit_tag "Encontrar o meu seguro", :name => nil, class: 'searchbutton' %>
  </p>
<% end %>
</div>


<div class="container" style="margin-bottom: 200px; color:black !important;">
  <div class="row">
    <div class="col-sm" id="seguroslista" style="text-align:center; ">

      <ul style="color:black !important;">
<li><h3 style="margin-bottom: 20px;">Empresas</h3></li>





    <% @seguros.where(tipo: 'Empresa').each do |seguro| %>

 <%= link_to seguro do %>

   <li style="color:black !important; font-size:17px;"><%= seguro[:name] %></li><br>
   <% end %>
   <% if admin_signed_in? %>

    <a style="color: black !important;">  <%= link_to 'Edit', edit_seguro_path(seguro) %></a>
   <a style="color: black !important;">  <%= link_to 'Destroy', seguro, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  <% end %>
  <% end %>
</li>
   </ul>

</div>





<div class="col-sm" style="text-align:center;">
  <ul style="color:black !important; ">
<li><h3 style="margin-bottom: 20px;">Particular</h3></li>




     <% @seguros.where(tipo: 'Particular').each do |seguro| %>

 <%= link_to seguro do %>

   <li style="color:black !important; text-align:center; font-size:17px; "><%= seguro[:name] %></li><br>
   <% end %>
   <% if admin_signed_in? %>

    <a style="color: black !important;">  <%= link_to 'Edit', edit_seguro_path(seguro) %></a>
   <a style="color: black !important;">  <%= link_to 'Destroy', seguro, method: :delete, data: { confirm: 'Are you sure?' } %></a>
  <% end %>
  <% end %>
</li>
   </ul>
</div>
</div>
</div>




<br>
<% if admin_signed_in? %>

 <li> <%= link_to('Logout', destroy_admin_session_path, method: :delete) %></li>

<% end %>

<% if admin_signed_in? %>
<li><%= link_to 'New Seguro', new_seguro_path %></li>
<% end %>










