<div>
    <%= image_tag @seguro.image.thumb.url, :class => "style_image"%>
  </div>

  <div style="margin-left: 50px; margin-top: 100px;">
  <h3 style="margin-bottom: 30px"><%= @seguro.name %></h3>
  <h4 style="margin-bottom: 30px"><%= @seguro.tipo %></h4>
   </div>

  <hr>

  <div>

 <p style="font-size: 20px; margin: 100px;"> <%= @seguro.description %></p>

</div>





<% if @admin_signed_in %>
<%= link_to 'Edit', edit_seguro_path(@seguro) %>
<% end %>
<%= link_to 'Back', seguros_path %>



  <div class="tform">

    <p>Preencha o formulário e envie-nos para o email indicado</p>


<div class="form">

<div class="sform" style="width:70%; margin: auto;">
    <%= render "contacts/form",
           :contact => @contact %>
</div>

</div>


<div class='footer' style="text-align: center; padding-top: 20px; padding-bottom: 30px;">

  <h2 style="margin-bottom: 40px;">Contactos</h2>
  <table align= "center">
    <tbody>
      <tr>
  <th class="ft" style="color: white;">
  <i class="fas fa-map-marker-alt" style= "font-size: 20px;"></i>
  <h5>Av. 24 de Julho 1 - 2º Esq. <br>1200-478 Lisboa</h5>
    </th>
    <th class="ft">
    <i class="fas fa-envelope" style= "font-size: 20px;"></i>
  <h5>geral@be-seguro.com</h5>
</th>
  <th class="ft">
  <i class="fas fa-phone" style= "font-size: 20px;"></i>
  <h5>+351 214 585 270</h5>
</th>
</tr>
  </table>
  </div>
</div>

