<div class="home">

  <div>
    <%= image_tag @seguro.image.thumb.url, :class => "style_image"%>
  </div>

  <div style="margin-left: 50px; margin-top: 100px;">
  <h3 style="margin-bottom: 30px"><%= @seguro.name %></h3>
  <h4 style="margin-bottom: 30px"><%= @seguro.tipo %></h4>
   </div>

  <hr>

  <div>

 <p style="font-size: 20px; margin: 100px;"> <%= @seguro.description %></p>

</div>





<% if @admin_signed_in %>
<%= link_to 'Edit', edit_seguro_path(@seguro) %>
<% end %>
<%= link_to 'Back', seguros_path %>



  <div class="tform" style="margin-bottom:100px;">

    <p>Preencha o formulário e entraremos em contacto em breve</p>


<div class="form">

<div class="sform" style="width:70%; margin: auto; height: 100%;">
    <%= form_for Seguroscontact.new do |f| %>

    <h4 style="margin-bottom:-10px;"><%= f.label :nome %></h4><br>
    <%= f.text_field :name, required: true, class: 'in'  %><br>

   <h4 style="margin-bottom:-10px;"><%= f.label :email %></h4><br>
    <%= f.email_field :email, required: true, class: 'in' %><br>

   <h4 style="margin-bottom:-10px;""><%= f.label :mensagem %></h4><br>
    <%= f.text_area :message, as: :text, required: true, class: 'inmes', rows: '5'  %><br>
    <div style="visibility: hidden;">
    <%= f.text_area :seguro, value: @seguro.name %><br>
  </div>
    <div class="hidden">

    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, hint: "leave this field blank"  %><br>


    </div>

    <%= f.submit 'Enviar Mensagem', class: 'button enviar' %>

    <% end %>
</div>

</div>

</div>



